<% @order = object %>
<% unless @order.patient.blank? %>
	<% @patient = @order.patient %>
	<div class="card">
		<div class="card-content">
			<div class="card-title">
				Patient Details
			</div>
			Name: <%= @patient.full_name %>
			Age: <%= @patient.age %>
			Sex: <%= @patient.sex %>
		</div>
	</div>
<% end %>
<%= render :partial => "/business/orders/report_summary" %>
<!-- now take each report and show it on a new page -->
<% @order.reports.each do |report| %>
	<% @report = report %>
	<%= render :partial => "/diagnostics/reports/pdf/show" %>
	<!-- render the pdf view, take each test and generate its summary row. -->
	<!-- here will come the signing authority -->
<% end %>
<!-- so first i build a pdf view, which is basically a show view for test and report -->
