<%= form_for @profile_resource, as: :user, url: profile_path(:id => @profile_resource.id.to_s, resource: "users") do |f| %>
	
	<%= f.text_field :first_name %>
	<%= f.label :first_name %>

	<%= f.text_field :last_name %>
	<%= f.label :last_name %>

	<%= f.text_field :date_of_birth, :class => "datepicker" %>
	<%= f.label :date_of_birth, :class => "datepicker" %>

	<%= f.text_field :address %>
	<%= f.label :address %>

	<%= f.text_field :sex %>
	<%= f.label :sex %>

	<br>

	<% @profile_resource.organization_members.each do |morg| %>

		<% @organization_member = morg %>
		<%= render :partial => "/organization_members/show" %>

	<% end %>



	<!-- show the organization member form -->
	<!-- so here we add the new one, after it has been selected via an organization -->
	<!-- this is added -->
	<!-- now we search inside the organization to check for verified , and pending etc -->
	<!-- okay so this is not working at the moment -->
	<% if @profile_resource.show_join_organization_form? %>
		<h5>Join Organization : Click submit to join this organization in the specified role</h5>
		<input type="text" name="user[organization_members][][organization_id]" value="<%= @profile_resource.organization_member_organization_id %>" />
		<label for="user[organization_members][][organization_id]">Organization Id</label>

		<input type="text" name="user[organization_members][][employee_role_id]" value="<%= @profile_resource.organization_member_employee_role_id %>"/>
		<label for="user[organization_members][][employee_role_id]">Employee Role Id</label>
	<% end %>	

	<% if f.object.credential.blank? %>
		<%= link_to "Add Qualifications and Signature", new_credential_path(:credential => {:user_id => f.object.id.to_s}) %>
	<% else %>
		<%= link_to "Edit your qualifications/Signature", edit_credential_path(f.object.credential.id.to_s) %>
	<% end %>

	<%= render :partial => "/profiles/patients_pending_approval_form_partial" %>

	<%= f.submit "Submit" %>

<% end %>