<li class="collection-item search_result teal-text">
<% link_text = (result.respond_to? "name") ? result.send("name") : result.id.to_s %>
<% link_address = (result.class.name.underscore.downcase.gsub(/\//,'_') + "_path") %>

<% link_description = (result.respond_to? "description") ? result.send("description") : "" %>

<% organization_name = "" %>
<% if result.class.name =~ /Organization/ %>
	<% organization_name = result.name %>
<% else %>
	<% organization_name = (result.respond_to? "organization") ? result.send("organization").name : "" %>
<% end %>

<% created_at = result.created_at.strftime("%b %d %Y %I:%M %P") %>

<% object_class = result.class.name.to_s %>

<!-- lets beautify a bit -->
<!-- i need the item class also. -->

	<div>
		<div class="chip"><%= object_class %></div>
		<div class="chip"><%= organization_name %></div>
		<div class="chip"><%= created_at %></div>
		<%= link_to link_text, main_app.send(link_address,result.id.to_s) %>
	</div>
	<div>
		<%= link_description %>
	</div>
	<% if result.respond_to? "search_options" %>
		<div>
			<% result.search_options.each do |sopt| %>
				<span style="margin-left: 10px;" data-id="<%= sopt[:data_id] %>" style="cursor:pointer;" class="<%= sopt[:classes].join(' ') %>"><%= sopt[:text] %></span>
			<% end %>
		</div>
	<% end %>
</li>