<h6>Name: <%= order.patient.full_name %> | Age : <%= order.patient.age %> | Gender : <%= order.patient.sex %> | Contact Number : <%= order.patient.mobile_number %> | Referred By : <%= order.patient.referring_doctor %> </h6>
