<%= form_for @item_transfer do |f| %>
	
	<%= render :partial => "/shared/visibility", locals: {f: f} %>

	<div class="card">
		<div class="card-content">
			<div class="card-title">
				Transfer to Location
			</div>
			<%= f.text_field :to_location_id, :data => {:autocomplete_type => "locations"} %>
			<%= f.label :to_location_id %>
		</div>
	</div>

	<div class="card">
		<div class="card-content">
			<div class="card-title">
				Transfer to User
			</div>
			<%= f.text_field :to_user_id %>
			<%= f.label :to_user_id %>
		</div>
	</div>


	<div class="card">
		<div class="card-content">
			<div class="card-title">
				Item Details
			</div>
			<%= f.number_field :item_quantity %>
			<%= f.label :item_quantity %>

			<%= f.text_field :barcode %>
			<%= f.label :barcode %>
		</div>
	</div>

	<%= f.submit "Submit" %>

<% end %>