<%= form_for @comment do |f| %>
	
	<%= render :partial => "/shared/visibility", locals: {f: f} %>

	<div class="card">
		<div class="card-content">
			<div class="card-title">
				Location Details
			</div>

			<%= f.text_field :to_location_id, :data => {:autocomplete_type => "locations"} %>
			<%= f.label :to_location_id %>

			<%= f.text_field :from_location_id, :data => {:autocomplete_type => "locations"} %>
			<%= f.label :from_location_id %>

			<!-- who do we give the item to -->
			<!-- and who do we take the item from -->
			<!-- it is taken from its last accessor -->
			<!-- it is given to -->

		</div>
	</div>
	
	<%= f.submit "Submit" %>

<% end %>