<%= form_for @item, as: :item do |f| %>
	
	<%= render :partial => "/shared/visibility", locals: {f: f} %>
		
	<% unless @item.new_record? %>
		<%= render :partial => "images/image", locals: {model: @item} %>
	<% end %>

	<div class="card">
		<div class="card-content">
			<div class="card-title">
				Origin Details
			</div>

			<%= f.text_field :item_type_id, :readonly => true %>
			<%= f.label :item_type_id %>

			<%= f.text_field :transaction_id, :readonly => true %>
			<%= f.label :transaction_id %>

			<%= f.text_field :barcode %>
			<%= f.label :barcode %>

			<%= f.text_field :supplier_item_group_id, :readonly => true %>
			<%= f.label :supplier_item_group_id %>

			<%= f.text_field :local_item_group_id, :readonly => true %>
			<%= f.label :local_item_group_id %>

			<%= f.text_field :location_id, :data => {:autocomplete_type => "locations"} %>
			<%= f.label :location_id %>

			<% @item.categories.each do |category| %>
				<%= text_field_tag "item[categories][]", category %>
				<%= f.label :categories %>
			<% end %>
			<!-- the item group should get a count of the items that have already been registered, and show them -->
			<!-- that is also important -->
			<!-- now comes the item transfer and comments on the transaction level -->

		</div>
	</div>

	<div class="card">
		<div class="card-content">
			<div class="card-title">
				Expiry Details
			</div>
			<!-- this can be set from the transaction itself -->
			<%= f.text_field :expiry_date, :class => "datepicker" %>
			<%= f.label :expiry_date %>
		</div>
	</div>

	<div class="card">
		<div class="card-content">
			<div class="card-title">
				Details of Item Contents - Only to be filled If some contents have been added to the item.
			</div>
			<span>Filled Amount</span>
			<%= f.number_field :filled_amount, :step => :any %>
			<%= f.label :filled_amount %>
			<span>What is the expiry date of the contents filled in the tube</span>
			<%= f.text_field :contents_expiry_date, :class => "datepicker" %>
			<%= f.label :contents_expiry_date %>
		</div>
	</div>
		
	<%= f.submit "Submit" %>

<% end %>