<div class="section">

	<%= form_for @order, :html => {:class => "report_form"} do |f| %>


		<%= f.text_field :patient_name %>
		<%= f.label :patient_name %>


		<%= f.text_field :report_name , :data => {:autocomplete_type => "reports", :multiple => true, :multiple_element_name => "order[reports][]"} %>
		<%= f.label :report_name %>

		<!-- we have to render a reports partial, so with each report. -->


		<%= f.submit "Submit", :class => "waves-effect waves-light btn" %>

	<% end %>
	
</div>