<div class="section">

	<%= form_for @order, :html => {:class => "order_form"} do |f| %>


		<%= f.text_field :patient_name, :data => {:autocomplete_type => "patients"}, :autocomplete => "off" %>

		<%= f.label :patient_name %>

		<%= f.hidden_field :patient_id %>


		<%= f.text_field :report_name , :data => {:autocomplete_type => "reports", :multiple => true, :multiple_element_name => "template_report_id"}, :autocomplete => "off" %>
		<%= f.label :report_name %>

		<!-- item requirements -->
		<% unless @order.new_record? %>
			<h6>Enter the Barcode Number of the Collection Packet</h6>
			<%= f.text_field :item_group_id %>
			<%= f.label :item_group_id %>

			<h6>Or</h6>
			<h6>Enter the Barcode Numbers For Individual Tube Types</h6>

			<!-- keep this as a seperate page -->
			<!-- what will be the form be for ? -->
			<!-- will go to put -->
			<table>
	          	<thead>
		            <tr>
		                <th>Tube Type</th>
		                <th>Tube Number</th>
		                <th>Filled Amount</th>
		                <th>Barcode</th>
		                <th>Options</th>
		            </tr>
	          	</thead>

	          	<tbody>
		           
					<% @order.item_requirements.keys.each do |ir| %>
						<% @order.item_requirements[ir].each_with_index {|tube_entry,index| %>
							<!-- so we will enter the filled amount -->
							<tr class="item_requirement">
								<td class="item_requirement_type"><%= ir %></td>
								<td class="item_requirement_index"><%= index %></td>
								<td><input class="item_requirement_filled_amount" type="number" name="item_requirement_filled_amount" value="<%= tube_entry[:filled_amount] %>"/></td>
								<td><input class="item_requirement_barcode" name="item_requirement_barcode" type="text" value="<%= tube_entry[:barcode] %>" /></td>
							</tr>
						<% } %>
					<% end %>

		        </tbody>

	        </table>

		
		<% end %>

		<!-- this submission is going to be by ajax -->
		<%= f.submit "Submit", :class => "waves-effect waves-light btn" , :style => "display: none;"%>

		<!-- so now -->
		<div class="waves-effect waves-light btn submit_order">Submit</div>

	<% end %>
	
</div>