<div class="section page_content">
	<%= render :partial => "shared/errors", locals: {model: @order} %>
	<%= form_for @order, :html => {:class => "order_form"} do |f| %>

		
		<div class="card">
			<div class="card-content">
			<div class="card-title">
				Enter Patient Name And Tests to Perform
			</div>
			
				<%= f.text_field :patient_name, :data => {:autocomplete_type => "patients"}, :autocomplete => "off" %>

				<%= f.label :patient_name %>

				<%= f.hidden_field :patient_id %>

				<!-- this is what you need for normal ranges -->
				<%= f.text_field :report_name , :data => {:autocomplete_type => "reports", :multiple => true, :multiple_element_name => "order[template_report_ids][]"}, :autocomplete => "off" %>
				<%= f.label :report_name %>

				<%= render :partial => "/shared/display_array", locals: {model: @order, multiple_el: "template_report_ids", multiple_objects: "reports"} %>
			</div>
		</div>
		<!-- item requirements -->
		<% unless @order.new_record? %>
			<div class="card">
				<div class="card-content">
				<div class="card-title">Enter the Barcode Number of the Collection Packet
				</div>
					<%= f.text_field :item_group_id, :data => {:autocomplete_type => "item-groups"} %>
					<%= f.label :item_group_id %>
				</div>
			</div>

			<div class="card">
			<div class="card-content">
			<div class="card-title">Enter the Barcode Numbers For Individual Tube Types</div>
			
			<%= render :partial => "/orders/show_tubes.html.erb" %>
	    	</div>
	    	</div>
		
		<% end %>

		<!-- this submission is going to be by ajax -->
		<%= f.submit "Submit", :class => "waves-effect waves-light btn"%>

		

	<% end %>
	
</div>