<tr>
	<td><%= link_to @report.name, report_path(@report.id.to_s) %></td>
	<td><%= @report.tests.size %></td>
	<td><%= @report.price %></td>
	<td><%= @report.item_requirements.size %></td>
	<td><%= render :partial => "reports/options" %></td>
</tr>