<%= form_for @item_group do |f| %>

	<%= f.text_field :barcode %>
	<%= f.label :barcode %>

	<%= f.text_field :group_type, :data => {:autocomplete_type => "item-types"} %>
	<%= f.label :group_type %>

  <div class="section">
  <h6>Component Item Ids</h6>
  <% @item_group.item_ids.each do |item_id| %>
    <input type="text" name="item_group[item_ids][]" data-autocomplete-type="items" value="<%= item_id %>" />
  <% end %>
  </div>

  <!-- already assigned to another item group -->

  <div class="add_item_id">
  	<i class="material-icons">add</i>
  </div>
	<%= f.submit "Submit" %>

<% end %>

<!-- item groups -->
<!-- order total, and paid -->
<!-- order status updates with images -->
<!-- report pdf formats -->
<!-- report verified -->
<!-- sms and email -->
<!-- in this week, lis integration for Electrolyte + coagulation and with new system -->
<!-- by end of the week, should be focusing -->

<!-- basically everything other than the lis -->