<tr>
	<td><%= link_to @item_type.id.to_s, inventory_item_type_path(@item_type.id.to_s) %></td>
	<td><%= @item_type.name %></td>
	<td><%= @item_type.virtual_units %></td>
	<td><%= @item_type.barcode_required %></td>
	<td><%= @item_type.supplier_ids %></td>
	<td><%= @item_type.manufacturer_name %></td>
	<td><%= render :partial => "/inventory/item_types/options" %></td>
</tr>