<tr>
	<td><%= link_to @item.id, item_path(@item.id.to_s) %></td>
	<td><%= @item.item_type %></td>
	<td><%= @item.location %></td>
	<td><%= @item.expiry_date %></td>
	<td><%= @item.contents_expiry_date %></td>
	<td><%= @item.barcode %></td>
	<% @image = nil %>
	<% unless @item.images.blank? %>
		<% @image = @item.images.last %>
	<% end %>
	<td><%= render :partial => "images/show" %></td>
	<td><%= render :partial => "items/options" %></td>
</tr>