<div class="card">
	<div class="card-content">
		<div class="card-title">
			<%= link_to @transaction.id.to_s, inventory_transaction_path(@transaction.id.to_s) %>
		</div>
		<div>
			<% if @transaction.supplier.blank? %>
				No Supplier Has Been set for this order
			<% else %>
				<%= @transaction.supplier.name %>		
			<% end %>
		</div>
		<div>
			<%= @transaction.more_information %>
		</div>
		<div>Quantity Ordered: <%= @transaction.quantity_ordered %></div>
		<div>Quantity Received: <%= @transaction.quantity_received %></div>
		<div>Expected Date of Arrival: <%= @transaction.expected_date_of_arrival %></div>
		<div>Price : <%= @transaction.price %></div>
		<div>Payment Mode: <%= @transaction.payment_mode %></div>
	</div>
	<!-- can you add items, till you add a barcode to it -->
	<% if !@transaction.received? %>
		<% @item_group = @transaction.supplier_item_group %>
		<%= render :partial => "/inventory/item_groups/show" %>
	<% else %>
		<% @transaction.local_item_groups.each do |lg| %>
			<% @item_group = lg %>
			<%= render :partial => "/inventory/item_groups/show" %>
		<% end %>
	<% end %>
	
	<div class="card-action">
		<%= render :partial => "/inventory/transactions/options" %>
	</div>
</div>
