<%= form_for @organization do |f| %>
	
	

	<%= f.text_field :name %>
	<%= f.label :name %>

	<%= f.text_field :address %>
	<%= f.label :address %>

	<%= f.text_field :phone_number %>
	<%= f.label :phone_number %>

	<%= f.text_field :description %>
	<%= f.label :description %>

	<h6>If you are a sub-organization/branch, enter the name of the parent organization here.</h6>
	<%= f.text_field :parent_id, :data => {:autocomplete_type => "organizations" } %>
	<%= f.label :parent_id %>

	<%= f.select :role , Organization::ROLES.map{|c| [c,c]}, {include_blank: "Organization Type", disabled: '', selected: ''} %>

	<% unless @organization.new_record? %>
    	<%= render :partial => "images/image", locals: {model: @organization} %>
  	<% end %>

  	<!-- to show the approved users, and delete them if required -->
  	<%= render :partial => "/shared/display_array", locals: {model: @organization, multiple_el: "user_ids", multiple_objects: "verified_users"} %>

  	<!-- to show the rejected users and delete them if required -->
  	<%= render :partial => "/shared/display_array", locals: {model: @organization, multiple_el: "rejected_user_ids", multiple_objects: "rejected_users"} %>

  	<!-- to show the pending users and delete them if required -->
	<%= render :partial => "/organizations/users_pending_approval_form_partial" %> 


	<!-- add the various staff types in your organization -->
	<!-- add this to the organizations attribute_accessors -->
	<%= f.text_field :role_name , :data => {:autocomplete_type => "tags", :multiple => true, :multiple_element_name => "organization[role_ids][]"}, :autocomplete => "off" %>

	<%= f.label :role_name %>

	<%= render :partial => "/shared/display_array", locals: {model: @organization, multiple_el: "role_ids", multiple_objects: "employee_roles"} %> 	

	<%= f.number_field :verifiers %>
	<%= f.label :verifiers %>

	<%= render :partial => "/shared/geo/add_location", locals: {f: f} %>
	
	<%= f.submit "Submit" %>

<% end %>