<tr>
	<td><%= test.name %></td>
	<% if test.is_abnormal? %>
		<td><u><%= test.display_result %></u></td>
	<% else %>
		<td><%= test.display_result %></td>
	<% end %>
	<td><%= test.display_normal_biological_interval %></td>
	<td><%= test.display_comments_or_inference %></td>
</tr>