<tr>
	<td><%= test.name %></td>
	<td><%= test.display_result %></td>
	<td><%= test.display_normal_biological_interval %></td>
	<td><%= test.display_count_or_grade %></td>
	<td><%= test.display_comments_or_inference %></td>
</tr>