<div class="row" style="margin-bottom:1.4rem; margin-top:1.4rem">
	<!-- show or create the organization -->
	<a class='dropdown-trigger btn' href='#' data-target='organization'>Organization</a>

	<a class="dropdown-trigger btn" href="#" data-target='patients'>Patients</a>

	<a class="dropdown-trigger btn" href="#" data-target='report_templates'>Report Templates</a>

	<a class="dropdown-trigger btn" href="#" data-target='test_templates'>Test Templates</a>

	<a class="dropdown-trigger btn" href="#" data-target='normal_range_templates'>Normal Range Templates</a>

	<a class="dropdown-trigger btn" href="#" data-target='roles_and_tags'>Roles and Tags</a>

	<a class="dropdown-trigger btn" href="#" data-target='packages'>Packages</a>

	<a class="dropdown-trigger btn" href="#" data-target='inventory'>Inventory</a>

	<ul id='organization' class='dropdown-content'>
		<% if current_user.has_organization? %>
			<li><i class="material-icons">view_module</i><%= link_to current_user.organization.name, organization_path(current_user.organization.id.to_s) %></li>
		<% else %>
			<li><i class="material-icons">view_module</i><%= link_to "Create Your Lab", new_organization_path %></li>
		<% end %>
	</ul>

	<ul id='patients' class='dropdown-content'>
		<% if current_user.owns_or_belongs_to_organization? %>
			<li><i class="material-icons">view_module</i><%= link_to "Create Patient", new_patient_path %></li>

			<li><i class="material-icons">view_module</i><%= link_to "View All Patients", patients_path %></li>
		<% end %>
	</ul>	

	
	<ul id='report_templates' class='dropdown-content'>
		<li><i class="material-icons">view_module</i><%= link_to "See All Templates", reports_path %></li>
		<li><i class="material-icons">view_module</i><%= link_to "Add New Report Template", new_report_path %></li>
	</ul>

	<ul id='test_templates' class='dropdown-content'>
		<li><i class="material-icons">view_module</i><%= link_to "See All Templates", tests_path %></li>
		<li><i class="material-icons">view_module</i><%= link_to "Add New Test Template", new_test_path %></li>
	</ul>

	<!-- lets just integrate it to some level at least -->
	<ul id='normal_range_templates' class='dropdown-content'>
		<li><i class="material-icons">view_module</i><%= link_to "See All Templates", normal_ranges_path %></li>
		<li><i class="material-icons">view_module</i><%= link_to "Add New Normal Range Template", new_normal_range_path %></li>
	</ul>


	<!-- machine kit is nothing may or may not be compulsory. -->
	<!-- okay so now next is create the tag -->
	<!-- then go to organization and add at least one -->
	<!-- then go to join organization and specify a role -->
	<!-- validate that in the profile -->
	<ul id='roles_and_tags' class='dropdown-content'>
		<li><i class="material-icons">view_module</i><%= link_to "See All Roles/Tags", tags_path %></li>
		<li><i class="material-icons">view_module</i><%= link_to "Add New Role/Tag", new_tag_path %></li>
	</ul>

	<ul id='packages' class='dropdown-content'>
		<li><i class="material-icons">view_module</i><%= link_to "See All Roles/Tags", packages_path %></li>
		<li><i class="material-icons">view_module</i><%= link_to "Add New Role/Tag", new_package_path %></li>
	</ul>
	<!-- do i need an inventories controller -->
	<!-- what should it show -->
	<!-- three tabs -->
	<!-- so you choose an item type, or you want to scan a barcode -->
	<!-- that has to be done also.-->
	<!-- so see the item type, there see its orders, see related items, see transfers of those items -->
	<ul id='inventory' class='dropdown-content'>
		<li><i class="material-icons">view_module</i><%= link_to "View Inventory", inventory_item_types_path %></li>
		<li><i class="material-icons">view_module</i><%= link_to "Add New Item-Type To Inventory", new_inventory_item_type_path %></li>
		<li><i class="material-icons">view_module</i><%= link_to "Create New Item-Group To Inventory", new_inventory_item_group_path %></li>
		<li><i class="material-icons">view_module</i><%= link_to "See All Item-Groups", inventory_item_groups_path %></li>
		<li><i class="material-icons">view_module</i><%= link_to "See All Orders", inventory_transactions_path %></li>
	</ul>
	
</div>