<tr>
	<td><%= @payment.created_at.strftime("%b %-d_%Y") %></td>
	<td><%= @payment.amount %></td>
	<td><%= @payment.for_report_id %></td>
	<td><%= @payment.for_report_name %></td>
	<td><%= @payment.payment_type %></td>
	<td><%= @payment.payment_name %></td>
	<td>Nothing</td>
</tr>