<%= form_for @order, as: :order, url: business_order_path(@order.id.to_s)  ,method: @order.new_record? ? :post : :put do |f| %>
	<div class="section page_content">
		<%= render :partial => "shared/errors", locals: {model: @order} %>
		<div class="section">
			<% @patient = @order.patient %>
			<% @patients = [@patient] %>
			<div class="card">
				<div class="card-content">
					<div class="card-title">
						Patient Details
					</div>
					<%= render :partial => "/patients/index" %>	
				</div>
			</div>
		</div>
		<%= render :partial => "/shared/visibility", locals: {f: f} %>
			
		<% unless @order.new_record? %>
			<%= render :partial => "images/image", locals: {model: @order} %>
		<% end %>
		
		<%= build_nested_form(@order).html_safe %>	

		<%= f.submit "Submit" %>
	</div>
<% end %>