<tr>
	<% unless @order.errors.empty? %>
		<td><%= @order.errors.full_messages %></td>
	<% else %>
		<td><%= link_to @order.patient.name + "'s Tests", order_path(@order.id.to_s) %></td>
		<td><%= render :partial => "/orders/reports_cell" %></td>
		<td><%= render :partial => "/orders/tubes_cell" %></td>
		<td><%= render :partial => "/orders/options" %></td>
	<% end %>
</tr>