<div class="card">
	<div class="card-content">
		<div class="card-title">
			Item Group Details
		</div>
		<div>Barcode: <%= @item_group.barcode %></div>
		<div>Location: <%= @item_group.location_id %></div>
		<h6>Item Definitions</h6>
		<table>
			<thead>
				<th>Item Type</th>
				<th>Quantity</th>
				<th>Expiry Date</th>
				<th>Total Items Created</th>
				<th>Options</th>
			</thead>
			<tbody>
				<% @item_group.item_definitions.each do |id| %>
					<tr>
						<td><%= id["item_type_id"] %></td>
						<td><%= id["quantity"] %></td>
						<td><%= id["expiry_date"] %></td>
						<td><%= id["total_items_created"] %></td>
						<td>
							<% if @item_group.transaction.blank? %>
								This Item Group Has Not Been Ordered
							<% else %>
								<% if @item_group.transaction.received? %>
									<%= link_to "Add Item", new_inventory_item_path(:item => {:local_item_group_id => @item_group.id.to_s, :item_type_id => id["item_type_id"],:expiry_date => id["expiry_date"], :transaction_id => @item_group.transaction_id, :supplier_item_group_id => @item_group.cloned_from_item_group_id})%>
									<%= link_to "See All Items", inventory_items_path(:item => {:local_item_group_id => @item_group.id.to_s, :expiry_date => id["expiry_date"], :item_type_id => id["item_type_id"], :transaction_id => @item_group.transaction_id, :supplier_item_group_id => @item_group.cloned_from_item_group_id}) %>
								<% else %>
									Order Not Yet Received
								<% end %>
							<% end %>	
						</td>
					</tr>
				<% end %>
			</tbody>		
		</table>		
	</div>
	<div class="card-action">
		<!-- this is to be shown if there is no transaction -->
		<% if @item_group.transaction.blank? %>
			<%= render :partial => "/inventory/item_groups/options" %>
		<% end %>
	</div>
</div>