<!DOCTYPE html>
<html>
<head>
  <title>Local</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- strftime -->
  <script src="https://cdn.jsdelivr.net/npm/strftime@0.10.0/strftime.min.js"></script>

   <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
  
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  
  <!-- underscore js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>


  <!-- timeago -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.3/jquery.timeago.min.js"></script>


  <!-- pluralize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pluralize/7.0.0/pluralize.min.js"></script>


  <!-- tooltipster/js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/js/jquery.tooltipster.min.js" integrity="sha256-lenj6loHcdfu6tFQPUHN6S2O7G2gv7yX/P9OnRc8lno=" crossorigin="anonymous"></script>

  <!-- tooltipster/css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/css/tooltipster.min.css" integrity="sha256-pH1rXnKT93pKrqWn3yDTgwsQrK/M4sVMFL774/pfaas=" crossorigin="anonymous" />

  <!--- fontawesome icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <%= csrf_meta_tags %>
</head>
<body>
<ul id="dropdown1" class="dropdown-content">
  <li><%= link_to "Add New Item Type", new_item_type_path %></li>
  <li class="divider"></li>
  <li><%= link_to "Add New Status", new_status_path %></li>
  <li class="divider"></li>
  <li><%= link_to "Add New Location", new_location_path %></li>
  <li class="divider"></li>
  <li><%= link_to "Add New Patient", new_patient_path %></li>
  <li class="divider"></li>
  <li><%= link_to "Add New Report", new_report_path %></li>
  <li class="divider"></li>
  <li><%= link_to "Add New Test", new_test_path %></li>
  <li class="divider"></li>
  <li><%= link_to "Add New Employee", new_employee_path %></li>
  <li class="divider"></li>
  <li><%= link_to "Add New Item", new_item_path %></li>
</ul>
<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Pathofast</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Options<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
</nav>

<div class="container">
<%= render :partial => "search/search" %>
<%= yield %>
</div>

</body>
</html>


