<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      <%= stylesheet_link_tag 'application', media: 'all' %>
    </style>
  </head>
  <body>
    <!-- this has to get defined somehow from the user -->
    <!-- whether to use the LIS One, or some other one -->
    <!-- right now we go with LIS -->
  	<div class="row organization_letter_head">
  		<div class="col l2 m2 s2">
  			<%= image_tag(@resource.get_organization_logo_url) %>
  		</div>
  		<div class="col l10 m10 s10">
  			<h3>
  				<%= @resource.get_organization_name %>
  			</h3>
  		</div>
    </div>
    <%= yield %>
    <div class="divider"></div>
    <%= render :partial => "/layouts/mailer_footer" %>
  </body>
</html>
